<!DOCTYPE html>
<html>
  <link rel='stylesheet' href='https://unpkg.com/picnic@6/picnic.min.css'>
  <title>HelloWorld</title>
  <style>
  main{
    width:90%;
  max-width:800px;
  margin:30px auto;
}
table, canvas{
  width:100%;
}
h2{
  padding-bottom:20px;
}
.card{
  margin:0;
}
#map{
  height:400px;
}
img{
  width:100%;
}
.vTeam{
  color:orange;
}
</style>
</head>
<body>
  <main>
    <h1>Week 1</h1>
    <ol>
      {{#each users}}
      <li><span class='vTeam'>{{this.visitorteam}}</span> <span class='vScore'>{{this.visitorscore}}</span> @ <span class='hTeam'>{{this.hometeam}}</span> <span class='hScore'>{{this.homescore}}</span></li>
      {{/each}}
    </ol>
  </main>
