extends layout

block content
  h1 Find Florida People
  div#left
  div#right
  input#search(type='text' placeholder='Jon Doe' autofocus)
  div#loader
  table
    thead
      tr
        th.name NAME
        th.gender GENDER
        th.age AGE
        th.address ADDRESS
        th.apt APT/UNIT
        th.city CITY
        th.zip ZIP
  div#results
