extends layout

block content
  a(href='mailto:jonmanock@gmail.com')
    i(class='fa fa-envelope-o')
  h1 Find Florida People
  div#left
  div#right
  input#search(type='text' placeholder='John Doe' autofocus)
  div#loader
  table
    thead
      tr
        th.name NAME
        th.gender GENDER
        th.age AGE
        th.address ADDRESS
        th.apt APT/UNIT
        th.city CITY
        th.zip ZIP
  div#results
