doctype html
html
  head
    title Florida Friends
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src='http://code.jquery.com/jquery-3.2.1.min.js')
    script(src='javascripts/main.js')
  body
    block content
